<nav class="share">
<!--     <a class="share__btn share__btn--fb" href="javascript:void(0)">fb</a>
    <a class="share__btn share__btn--vk" href="javascript:void(0)">vk</a>
    <a class="share__btn share__btn--tw" href="javascript:void(0)">tw</a>
 -->
    <a href="#" class="goodshare share__btn share__btn--fb" data-type="fb">
        <span class="icon-facebook"></span>
        <span class="share__counter" data-counter="fb"></span>
    </a>
    <a href="#" class="goodshare share__btn share__btn--vk" data-type="vk">
        <span class="icon-vk"></span>
        <span class="share__counter" data-counter="vk"></span>
    </a>
    <a href="#" class="goodshare share__btn share__btn--tw" data-type="tw">
        <span class="icon-twitter"></span>
    </a>
</nav>
