<nav class="share">
<!--     <a class="share__btn share__btn--fb" href="javascript:void(0)">fb</a>
    <a class="share__btn share__btn--vk" href="javascript:void(0)">vk</a>
    <a class="share__btn share__btn--tw" href="javascript:void(0)">tw</a>
 -->
    <a href="#" class="goodshare share__btn share__btn--fb" data-type="fb">
        fb
        <span data-counter="fb"></span>
    </a>
    <a href="#" class="goodshare share__btn share__btn--vk" data-type="vk">
        vk
        <span data-counter="vk"></span>
    </a>
    <a href="#" class="goodshareshare__btn share__btn--tw" data-type="tw">
        tw
    </a>
</nav>
