@mixin btn {
    color: #bc2f13;
    text-transform: uppercase;
    border: 1px solid rgba(#fff,.8);
    border-radius: 50px;
    display: inline-block;
    line-height: 20px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px 30px;
    transition: color .2s ease .2s, background .2s ease;
    outline: none;
    background: #fff;
    text-align: center;

    &:hover {
        background: transparent;
        color: #fff;
    }
}

@mixin btn--social($btnBgColor) {
    @include btn;
    border-radius: 0;
    background: $btnBgColor;
    color: #fff;
    border: none;
    padding: 30px 2px;

    &:hover {
        background: darken($btnBgColor, 5);
    }
}
