// Body (Corioaln UI)
$bodyBg: #fff;
$bodyFont: 400 16px/1.45 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyColor: #585858;

// Breakpoints (Corioaln UI)
$XS: 320px;
$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
