// Body
$bodyBg: #fff;
$bodyFont: 400 16px/1.45 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyColor: #585858;

// Grid
$gridIndent: 20px;

// Breakpoints
// $One: new-breakpoint(min-width 0px);
// $Two: new-breakpoint(min-width 508px);
// $Three: new-breakpoint(min-width 754px);
// $ThreeSidebar: new-breakpoint(min-width 1054px);
// $Four: new-breakpoint(min-width 1300px);
// $Five: new-breakpoint(min-width 1300px);
