html {
    // height: 100%;
    // background: #fff;
}

body {
    // max-width: 1440px;
    // height: 727px;
    position: relative;
    @include clearfix;
    // margin: 100px auto;
    // overflow: hidden;
    box-shadow: 0 0 40px rgba(#000,.65);
}

// p {
//     margin: 0 0 1em;
// }

a {
    color: #bc2f13;
    text-decoration: none;
    display: inline-block;

    &:hover {

    }
}

main {
    // float: right;
    // margin-top: 150px;
    // margin-right: 150px;
    // position: absolute;
    // left: 50%;
    // bottom: 0;
    // float: right;
    // width: 960px;
    // height: 727px;
    position: relative;
    // height: 100%;
    @include ratio(100%,1440,800);
    margin: auto;
    overflow: hidden;
}
