.content {
    background: #fff;
    float: left;
    width: 100%;
    box-shadow: 0 0 40px rgba(#000,.65);
    padding: 80px 12px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 200;
    overflow-y: scroll;

    @media (min-width: 754px) {
        position: absolute;
        width: 520px;
        height: 100%;
        padding: 40px 26px;
    }

    &__hash {
        font-size: 23px;
        margin-bottom: 80px;
    }

    &__timer {
        font-size: 21px;
        margin-bottom: 20px;
    }

    &__p {
        margin-bottom: 20px;
    }

    &__statement {
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    &__share {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
