.content {
    background: #fff;
    float: left;
    width: 100%;
    box-shadow: 0 0 40px rgba(#000,.65);
    padding: 80px 12px 30px;
    box-sizing: border-box;
    position: relative;
    // width: 30%;
    z-index: 200;
    // display: none;

    @media (min-width: 754px) {
        position: absolute;
        width: 480px;
        height: 100%;
        padding: 28px;
    }

    &__hash {
        font-size: 23px;
        margin-bottom: 80px;
        // font-weight: 900;
    }

    &__timer {
        // color: #585858;
        font-size: 21px;
        margin-bottom: 20px;
    }

    &__p {
        // color: #585858;
        // font-size: 16px;
        margin-bottom: 20px;
    }

    &__statement {
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    &__share {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
