.parallax {
    box-sizing: border-box;
    float: left;
    right: 0;
    width: calc(100% - 480px);
     width: 100%;
    background: linear-gradient(to top, #761603, #d93919 100%);
    position: relative;
    overflow: hidden;

    @media (min-width: 754px) {
        float: right;
        width: calc(100% - 480px);
        height: 100%;
    }

    &__man {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 180;
        margin-top: 40px;
        display: block;
        width: 130%;
        margin-left: -30%;

        @media (min-width: 754px) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%,0,0);
            width: 100%;
            margin-left: 0;
        }
    }

    &__star {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 80%;
        height: auto;
        z-index: 50;
        animation: roter 80s linear infinite;
    }

    &__balls {
        position: absolute;
        left: 50%;
        transform: translate3d(-50%,0,0);
        width: 95%;
        height: auto;
        z-index: 50;
        opacity: .25;

        &--one {
            animation: shifter-one 8s linear infinite;
        }

        &--two {
            animation: shifter-two 8s linear infinite;
        }
    }
}

@keyframes roter {
    from {
        transform: translate3d(-50%,20%,0) rotate(0);
    }
    to {
        transform: translate3d(-50%,20%,0) rotate(-360deg);
    }
}

@keyframes shifter-one {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

@keyframes shifter-two {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
