.parallax {
    // background: #fff;
    // float: left;
    // max-width: 480px;
    // box-shadow: 0 0 40px rgba(#000,.65);
    padding: 40px 48px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 100%;
    width: 62%;
    background: linear-gradient(to top, #761603, #d93919 100%);
}
