.share {

    &__btn {
        width: 33.33333%;
        float: left;
        position: relative;

        &--fb {
            @include btn--social(#3c5a95);
        }

        &--vk {
            @include btn--social(#1074b1);
        }

        &--tw {
            @include btn--social(#20a7c6);
        }

        [class^="icon-"] {
            font-size: 30px;
            line-height: 0;
            position: relative;
            top: 6px;
        }
    }

    &__counter {
        font-size: 12px;
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translate3d(0,-50%,0);
    }
}
