@import 'vendor/flipclock';

.timer {
    margin: 0 0 120px;
    // margin: 0 0 60px;
    position: relative;
    @include clearfix;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;

    @media (min-width: 754px) {
        display: block;
    }

    ul {
        width: 42px;
        margin: 0 2px;

        li a div div.inn {
            font-size: 40px;
            font-weight: 100;
            text-shadow: none;
            color: #fff;
            background-color: #bc2f13;
        }
    }

    ul li a div.up:after {
        background: transparent;
    }

    .flip-clock-divider .flip-clock-label {
        top: auto;
        bottom: -1.5em;
        right: -62px;
        color: rgba(#4b4b4b,.5);
        font-size: 14px;
    }

    .flip-clock-divider {
        width: 14px;

        &:first-child {
            width: 0;
        }
    }

    .flip-clock-dot {
        width: 4px;
        height: 4px;
        background: rgba(#bc2f13,1);
        box-shadow: none;
    }

    .flip {
        box-shadow: none;
    }

    // .flip-clock-divider {
    //     position: absolute;
    //     bottom: 0;
    //     // left: 0;
    //     font-size: 5px;
    //     color: #4b4b4b;
    //     // font-weight: 300;
    // }

    // ul {
    //     margin: 0 2px;
    //     margin: 0;
    //     // width: auto;
    //     padding: 0;
    //     list-style: none;
    //     position: relative;
    //     float: left;
    //     width: 30px;
    //     // text-align: left;

    //     li {
    //         width: 20px;
    //         height: auto;

    //         a div div.inn {
    //             font-size: 64px;
    //             font-size: 10px;
    //             color: #bc2f13;
    //             font-weight: 300;
    //             position: absolute;
    //             left: 0;
    //             top: 0;
    //             background: #fff;
    //         }
    //     }
    // }
}
