.timer {
    margin: 0 0 120px;
    // margin: 0 0 60px;
    position: relative;
    @include clearfix;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    ul {
        width: 40px;
        margin: 0 1px 0 0;

            @media (min-width: 754px) {
                margin: 0 2px 0 0;
            }

        li a div div.inn {
            font-size: 30px;
            font-weight: 100;
            text-shadow: none;
            color: #fff;
            background-color: #bc2f13;

            @media (min-width: 754px) {
                font-size: 40px;
            }
        }
    }

    ul li a div.up:after {
        background: transparent;
    }

    .flip-clock-divider .flip-clock-label {
        top: auto;
        bottom: -1.5em;
        right: -62px;
        color: rgba(#4b4b4b,.5);
        font-size: 14px;
    }

    .flip-clock-divider {
        width: 14px;

        &:first-child {
            width: 0;
        }
    }

    .flip-clock-dot {
        width: 4px;
        height: 4px;
        background: rgba(#bc2f13,1);
        box-shadow: none;
    }

    .flip {
        box-shadow: none;
    }
}
