.vatman {
    // position: absolute;
    // left: 50%;
    // width: 433px;
    // background: #fff;
    // bottom: 100px;
    // color: #fff;
    // box-sizing: border-box;
    // position: relative;
    position: absolute;
    bottom: 0;
    right: 0;

    &__bg {
        // transform: translate3d(0,-50%,0);
        // float: 
        display: block;
        width: 697px;
        height: 558px;
    }

    &__banner {
        width: 377px;
        padding: 28px;
        line-height: 1.2;
        position: absolute;
        left: 0;
        top: 208px;
        // background: #00f;
        height: 216px;
    }

    &__quote {
        position: relative;
        color: #b22b10;
        font-size: 28px;
        margin-bottom: 50px;

    }

    &__author {
        position: relative;
        font-family: 'PT Serif', serif;
        font-style: italic;
        font-size: 16px;
    }
}
